@{
  Layout = "_Layout";
}
<div class="container">
<h1 class="jumbotron">Word Counter</h1>
<p>Word counter is a tool that can be used to count how many occurances of a word appears in a paragraph.</p>
<p>Steps::</p>
<ul>
  <li>Input a word to the first blank</li>
  <li>Input a sentence or a paragraph to the second blank</li>
</ul>
<h3><a href="/counter">Go and check Word Counter tool!</a></h3>
</div>
