<h1>Have fun playing!</h1>
<h3>Enter a word & a List of words</h3>
<form action="/counter" method="post">
<label for='input'>Enter a word</label>
<input id='input' name='input' type='text'>

<form action="/counter" method="post">
<label for='inputlist'>Enter a list of words</label>
<input id='inputlist' name='inputlist' type='text'>
<button type='submit'>Submit</button>
</form>