@{
  Layout = "_Layout";
}
<div class="container">
<h1 class="jumbotron">Woohoo!</h1>
<p>This is the input word :: </p>
<p>@Model.GetInput()</p>
<p>List of words in the sentence</p>
<ul>
@foreach (var list in @Model.GetList())
{
<li>@list</li>
}
</ul>
<p class="repeat">Number of words in the list that matches the input word::</p>
<p class="animated infinite tada" id="repeat">@Model.RepeatCounter()</p>
<a href="/counter">Back to enter another word</a>

</div>
