body {
  background-color: #bafffa;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
}
ul {
  list-style-type: none;
}
h1{
  text-align: center;
}
.repeat,#repeat {
text-align: center;
color: brown;
}
div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

#foot
{
  text-align: center;
}

